<!DOCTYPE html>
<html {{ if .Language }}lang="{{ .Language }}"{{ end }}>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
			<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
		{{ end }}

		<title>{{ .Title }}</title>

		{{ if .Description }}
			<meta name="description" content="{{ .Description }}" />
			<meta property="og:description" content="{{ .Description }}" />
			<meta name="twitter:description" content="{{ .Description }}" />
		{{ else if .Site.Params.Description }}
			<meta name="description" content="{{ .Site.Params.Description }}" />
			<meta property="og:description" content="{{ .Site.Params.Description }}" />
			<meta name="twitter:description" content="{{ .Site.Params.Description }}" />
		{{ end }}

		<link rel="canonical" href="{{ .Permalink }}">

		{{ if .Site.Params.Contributors }}
			<meta name="author" content="{{ .Site.Params.Contributors }}">
		{{ end }}

		{{ $style := resources.Get (printf "css/black.scss") | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">

		{{ partial "head.html" . }}
	</head>
	<body>
		<header id="header">
			<h1><a class="title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<p class="site-description">{{ .Site.Params.Description }}</p>
		</header>

		<div id="page">
			<div id="sidebar">
				{{ partial "navigation.html" . }}
			</div>

			<div id="content">
				{{ block "main" . }}{{ end }}
			</div>

			{{ if .Site.Copyright }}
				<footer id="footer">
					<p class="copyright">
						{{ .Site.Copyright }}
					</p>
				</footer>
			{{ end }}
		</div>

		{{ partial "foot.html" . }}
	</body>
</html>
