@import 'layout';

html,
body {
	background-color: #1a1a1f;
	color: #839496;
}

::selection {
	background: rgba(255, 255, 255, 0.05);
}

a,
a:visited,
a:active,
a code {
	color: #839496;
	border-color: #839496;
}

a:hover {
	background-color: #111;
	border-color: #fff;
	color: #fff;
}

hr {
	border-color: #2b2b2b;
}

h1,
h2,
h3 {
	color: #fafafa;
}

h1 a,
h1 a:visited,
h1 a:active {
	color: #fafafa;
}

h1 a:hover {
	background-color: #111;
	border-color: #111;
	color: #fafafa;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #fafafa;
}

#sidebar a:hover {
	background-color: transparent;
}

#sidebar a:hover span {
	color: #2aa198;
	background-color: #2b2b2b;
}

#footer {
	border-color: #2b2b2b;
}

.hljs {
	background: none;
}
